*{
    padding: 20px;
    margin: 0 auto;
}
.contenedorEncabezado{
     background-color:rgb(103, 102, 102);
}
.tituloMarca{
    font-size: 35px;
    color: white;
    margin-left: 15px;
    font-family: "Great Vibes", cursive;
}
.cajaLogo{
    display:flex;
    align-items: center;
    justify-content: center;
}
.cajaNavegacion{
    font-size: 25px;
    margin-top: 25px;
    display:flex;
    align-items: center;
    justify-content: space-around;
    font-family: "Simonetta", serif;
}.link{
    color: white;
    text-decoration: none;
}
.presentacion{
    font-size: 30px;
    color: white;
    margin: 15px 25px 5px 25px;
    font-family: "Oswald", sans-serif;
}
.Nombre{
    font-size: 45px;
    color: rgb(46, 2, 43);
    margin: 5px 25px 5px 25px;
    font-family: "Great Vibes", cursive;
    font-weight: bold;
}
.carrera{
    font-size: 30px;
    color: white;
    margin: 5px 25px 5px 25px;
    font-family: "Oswald", sans-serif;
}
.cajaFoto{
    width: 200px; height: 200px;
    margin: 0 50px 0 80px;
    
}

.cajaPresentacion{
    display: flex;
     align-items: center;
    justify-content: center;
    margin: 15px 0 0 0;
}
.face{
    width: 110px; height: 110px;
    margin: 0 15px 0 15px;
}
.insta{
    width: 90px; height: 90px;
    margin: 0 15px 0 15px;
}
.x{
    width: 90px; height: 90px;
    margin: 0 15px 0 15px;
}
.cajaRedes{
    margin-top: 25px;
    font-size: 25px;
    display:flex;
    align-items: center;
    justify-content:center;
}

.Descarga{
    color: white;
    text-decoration: none;
    margin: 0 15px 0 15px;
    font-family: "Simonetta", serif;
}
.infoPerfil{
width: 90%;
display: flex;
justify-content: space-around;

}
.datos{
    height: 100%;
    display: flex;
    flex-direction: column ;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
    text-align: justify;
    width: 40%;
}

.datosObj{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:left;
    font-size: 20px;
    text-align: justify;
    width: 40%;
}
.itmImagen{
    width: 100px;
    margin-bottom: 15px;
}
.itmTitulo{
    font-size: 20px;
    margin-top: 8px;
    text-align: center;
}
.listaConociminetos{
    display: flex;
    justify-content:space-around
}
.itemConocimiento{
    width: 150px;
    height: 170px;
    border: 2px solid black;
    margin: 10px 10px;
    padding: 20px 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}
.tituloConocimientos{
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
}
.itemConocimiento:hover{
background-color: blueviolet;
}
.itmHTML{
    width: 200px;
}
.itmLive{
    width: 130px;
}
.itmElec{
    width: 150px;
}
.itmCap{
    width: 150px;
}
.itmArd{
    width: 150px;
    margin-bottom: 15px;
}
.itmCan{
    width: 150px;
    margin-bottom: 15px;
}